{% extends 'events.html' %}
{% load static %}
{% block body %}

{% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
{% endif %}
<form action="" method="POST" enctype = 'multipart/form-data'>
    {%csrf_token%}
    <label for="usr"><b>User name</b></label>
    <input type="text" placeholder="Enter username" name="usr" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <input type="hidden"  name="step" value='1'>
    <input type="submit" value="Submit" />

</form>

{% endblock body %}