 html,body {
  height:100%;
  margin:0;
}

.content {
  margin:0;
}

html>body .content {
    max-width: 100%;
  height:auto;
    background: center center no-repeat scroll;
}

.infocard {
  background: #e2e1e0;
  border-radius: 2px;
  display: inline-block;
  margin-top: 2em;
  /* margin-left: 3%; */
  /* margin-right: 3%; */
  padding: 1em;
  position: relative;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.img-responsive {
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .img-responsive::after {
    max-width: 90%;
  }
}