{% extends 'sport.html' %}
{% load static %}
{% block body %}
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
</style>
</head>
<!-- <img src="{% static 'headers_and_logos/ISC.jpg' %}" class="content" /> -->

<div class="infocard">

<h1>Indoor Sports Club</h1>

    <div class="container" style="text-align: center">
        <h3> Captains and Vice Captains </h3>
        {% for person in team_members %}
         <div class="card">
        <img src="{{ person.image_link }}" alt="{{ person.name }}" height="250px" style="width:100%">
        <h3>{{ person.name }}</h3>
        <h5>{{ person.type }}</h5>
        <p class="title">{{ person.team }}</p>
        <p class="title">{{ person.entryno }}</p>
        <p>{{ person.hostel }}</p>
        <a class="customa">
            <div class="tooltipw3"><i class="fa fa-phone"></i>
            <span class="tooltiptext">{{ person.mobileno }}</span>
            </div>
        </a>
        <a class="customa" href="mailto:{{ person.email }}"><i class="fa fa-envelope"></i></a>
        <a class="customa" href="{{ person.fb }}"><i class="fa fa-facebook"></i></a>
        </div>
        {% endfor %}
    
		<div class="card">
        <img src="/static/people/anmol_gupta.jpg" alt="Anmol Gupta" height="250px" style="width:100%">
        <h3>Anmol Gupta</h3>
        <h5>Indoor Sports Club</h5>
        <p class="title">Secy</p>
        <p class="title"></p>
        <p></p>
        <a class="customa">
            <div class="tooltipw3"><i class="fa fa-phone"></i>
            <span class="tooltiptext">9309578502</span>
            </div>
        </a>
        <a class="customa" href=""><i class="fa fa-envelope"></i></a>
        <a class="customa" href="https://www.facebook.com/profile.php?id=100006430094334"><i class="fa fa-facebook"></i></a>
        </div>
		
		<div class="card">
        <img src="/static/people/adarsh.jpeg" alt="Adarsh Srivastava" height="250px" style="width:100%">
        <h3>Adarsh Srivastava</h3>
        <h5>Captain</h5>
        <p class="title">Chess</p>
        <p class="title"></p>
        <p></p>
        <a class="customa">
            <div class="tooltipw3"><i class="fa fa-phone"></i>
            <span class="tooltiptext">9873452221</span>
            </div>
        </a>
        <a class="customa" href=""><i class="fa fa-envelope"></i></a>
        <a class="customa" href="https://www.facebook.com/vns.sig"><i class="fa fa-facebook"></i></a>
        </div>
	</div>

<h3 style="margin-top: 1em; text-align: center">Recent Achievements in Chess</h3>
		<table class="center" style="width:90%; text-align: center">
				<tr>
				  <th>POSITION</th>
				  <th>EVENT</th>
				  <th>YEAR</th>
				</tr>
				<tr> <td>Gold</td> <td>Sportech</td> <td>2019</td> </tr>
				<tr> <td>Silver</td> <td>54th interiit</td> <td>2019</td> </tr>     
				<tr> <td>Silver</td> <td>Spardha</td> <td>2017,2019</td> </tr>           
		</table>

<p style="margin-top: 1em; margin-bottom: 1em;">IIT Delhi gives ample of opportunities to people to show and hone their talents and skills. Indoor Sports Club of IIT Delhi was started with 3 sports namely Chess, Carrom and Cue Sports; but also aims to host a variety of Card and Board games as a part of recreational activities. We aim to provide the best facilities and competitive environment for our players to develop and refine their skills.</p>
<p style="margin-top: 1em; margin-bottom: 1em;">Currently we host various competitions in Chess, Carrom and Cue Sports such as: Inter-Hostels(for each sport), Institute Blitz Tournament, Institute Carrom Open, Pool Open Tournament and many more. We aim to introduce a year round Chess Tournament in Ladder format: Chess Ladder and also include Board Games in the academic year 2017-2018.</p>
</div>
{% endblock body %}