{% extends 'sport.html' %}
{% load static %}
{% block body %}
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
</style>
</head>

<img src="{% static 'headers_and_logos/VOLLEYBALL.jpg' %}" class="content" />

<div class="infocard">

    <div class="container" style="text-align: center">
        <h3> Captains and Vice Captains </h3>
        {% for person in team_members %}
         <div class="card">
        <img src="{{ person.image_link }}" alt="{{ person.name }}" height="250px" style="width:100%">
        <h3>{{ person.name }}</h3>
        <h5>{{ person.type }}</h5>
        <p class="title">{{ person.team }}</p>
        <p class="title">{{ person.entryno }}</p>
        <p>{{ person.hostel }}</p>
        <a class="customa">
            <div class="tooltipw3"><i class="fa fa-phone"></i>
            <span class="tooltiptext">{{ person.mobileno }}</span>
            </div>
        </a>
        <a class="customa" href="mailto:{{ person.email }}"><i class="fa fa-envelope"></i></a>
        <a class="customa" href="{{ person.fb }}"><i class="fa fa-facebook"></i></a>
        </div>
        {% endfor %}
    </div>

<h3 style="margin-top: 1em; text-align: center">Recent Achievements</h3>
<h4 style="margin-top: 0.5em; text-align: center">Boys</h4>
		<table class="center" style="width:90%; text-align: center">
				<tr>
				  <th>POSITION</th>
				  <th>EVENT</th>
				  <th>YEAR</th>
				</tr>
				<tr> <td>Gold</td> <td>53rd,54th interiit</td> <td>2018,2019</td> </tr>
				<tr> <td>Gold</td> <td>Spardha</td> <td>2019</td> </tr> 
				<tr> <td>Silver</td> <td>Sportech</td> <td>2018</td> </tr>                
		</table>
<h4 style="margin-top: 0.5em; text-align: center">Girls</h4>
		<table class="center" style="width:90%; align: center; text-align: center">
				<tr>
				  <th>POSITION</th>
				  <th>EVENT</th>
				  <th>YEAR</th>
				</tr>
				<tr> <td>Gold</td> <td>Sportech</td> <td>2017</td> </tr>
				<tr> <td>Gold</td> <td>Spardha</td> <td>2018</td> </tr>     
				<tr> <td>Silver</td> <td>54th interiit</td> <td>2019</td> </tr>   
				<tr> <td>Bronze</td> <td>Sangram</td> <td>2018</td> </tr>
		</table>
		
<p style="margin-top: 1em; margin-bottom: 1em;">We, the girls and boys of volleyball are a family where on ground we play like true sports persons, competing against each other but off ground have fun with each other. IITD volleyball team has maintained a reputed position among all other IITs through sheer hard work. </p>
<img class="img-responsive" style="max-width: 90%; margin: auto" src="{% static 'sports/volleyball/received_473070929712578.jpeg' %}" />
<p style="margin-top: 1em; margin-bottom: 1em;">Over the years it had bagged many awards We have two courts for boys and girls respectively. Usually we all assemble on ground at 6pm, but there are extra practise session on weekend mornings. We have been fortunate enough to get trained under amazing coaches who have always made sure that there is no dearth of players at any point of time. </p>
<div class="clearfix">
	<img class="img-responsive pull-left" style="max-width: 48%; margin: auto" src="{% static 'sports/volleyball/received_473070926379245.jpeg' %}" />
	<img class="img-responsive pull-right" style="max-width: 48%; margin: auto" src="{% static 'sports/volleyball/received_473070966379241.jpeg' %}" />
</div>
<p style="margin-top: 1em; margin-bottom: 1em;">So, if you want to experience fun and hard work at the same time, come and join us.In case you have any query you can contact to captain or vice captain.</p>
<div class="clearfix">
	<img class="img-responsive pull-left" style="max-width: 48%; margin: auto" src="{% static 'sports/volleyball/received_473070983045906.jpeg' %}" />
	<img class="img-responsive pull-right" style="max-width: 48%; margin: auto" src="{% static 'sports/volleyball/volly_group_photo.jpeg' %}" />
</div>
</div>
{% endblock body %}