{% extends 'events.html' %}
{% load static %}
{% block body %}

<h1>BSA Night</h1>
<p>The BSA night is a night of celebrating the achievements of our sportsmen and sportswomen who have toiled for hours to bring glory to our institute. It is a night of raising a toast to the finest performances of grit and determination at the most competitive of sporting events of IITs. On this night, players who have performed well are awarded trophies of excellence by the BSA and a grand dinner is hosted in honour of all athletes and BSA officials</p>
<img class="img-responsive" style="max-width: 90%; margin-bottom: 1em;" src="{% static 'events/BSA_Night/59628304_1481256402015979_3811122780380856320_o.jpg' %}" />
<img class="img-responsive pull-left" style="max-width: 48%; margin: auto;" src="{% static 'events/BSA_Night/volly_team.jpeg' %}" />
<img class="img-responsive pull-right" style="max-width: 48%; margin: auto;" src="{% static 'events/BSA_Night/BSA_Night_Madhur.jpg' %}" />
{% endblock body %}