{% extends 'events.html' %}
{% load static %}
{% block body %}
<h1>Freshers Week</h1>
    
<p>The first event every fresher waits for is the Fresher’s Week, where everyone gets a chance to show how well they play. An entire week for all sports, which gives one a great opportunity to try out maximum sports. Another big night is the BSA orientation, where everything and everyone in BSA is presented to you. You would not only get the chance to explore, but also interact with seniors, some of which who have broken records and represent in the nationals. </p>
<p>We’d strongly suggest you to get in touch with the people involved in BSA; namely the vice captains of each sport in each hostel, the sports secretary of each hostel, or the institute Captains and Vice Captains, or any other person in BSA. They can provide a greater insight into BSA and how to go about everything you need to know.  </p>
{% endblock body %}