{% extends 'events.html' %}
{% load static %}
{% block body %}
<h1>Inter IIT</h1>
<!--<div class= "col-lg-11" style="margin: 1em auto;"> -->
    <p> Passion meets purpose at the Annual Inter-IIT Sports Meet, which is the grandest stage to showcase your sporting talents.
        The pride of representing the institute at such a stage is beyond words, it’s a mix of a extravagant experiences and emotions.
        Hosted jointly by IIT Kharagpur and IIT Bhubaneswar this year, 14-22 December, and the Aquatics meet being hosted from 1-4 October.
        Why is it so important this year? IIT Delhi grabbed the first position in Overall General Championship in the Inter IIT Sports Meet 2018 in Guwahati, and we hope to hold back first position this December.
        The contingent is determined and practicing hard to bring home the general championship back this year.</p>

<a href="https://docs.google.com/spreadsheets/d/1_c-aF3XmzCw75xzvIsPo2BTdE_L9K6RU/edit#gid=824830389">Inter-IIT 2018 contingent team</a><br>
<a href="https://drive.google.com/file/d/1oG3ASd5g5EtS5bYCFDvXbt0udzwvN-6w/view?usp=sharing">Inter-IIT 2019 contingent team</a><br>

<hr>
<br>

<h3>54th Inter-IIT Meet : IIT Kharagpur & IIT Bhubaneswar</h3>

<p style="margin-top: 1%">In the 54th Inter-IIT Meet ( IIT Kharagpur &IIT Bhubaneswar), here is the tally of how the contingent fared. The contingent won 4 gold, 6 silver, and one bronze. Overall IIT Delhi bagged the Second position in General Championship (Overall) and Second position in General Championship (Men). Athletics girls bagged the overall first position in Women's Category. Kudos to the Cricket team also for winning the gold medal for three consecutive years and Volleyball (Men) and Basketball (Men) for winning the gold medal for 2 consecutive years.
The sports-wise medal count is as follows:<br>
Volleyball (Men): Gold<br>
Athletics ( Women): Gold<br>
Cricket: Gold<br>
Basketball (Men): Gold<br>
Volleyball (Women): Silver<br>
Table Tennis ( Women) : Silver<br>
Athletics (Men): Silver<br>
Athletics (Overall): Silver<br>
Hockey: Silver<br>
Chess: Silver<br>
Badminton (Men): Bronze<br>

<hr>
<br>
<h3>53rd Inter-IIT Meet : IIT Guwahati</h3>

<p style="margin-top: 1%">After 17 excruciating years,IIT Delhi made history by winning the General Championship at the 53rd Inter IIT Sports Meet held at IIT Guwahati. Beating our nearest opponents by a margin of 26.4 points, we stamped our authority on the meet.
The sports-wise medal count is as follows:<br>
Athletics(Men): Gold<br>
Athletics(Women): Gold<br>
Cricket: Gold<br>
Football: Gold<br>
Volleyball(Men): Gold<br>
Basketball (Men): Gold<br>
Basketball (Women): Silver<br>
Table Tennis (Women) : Silver<br>
Hockey : Bronze<br>
Badminton (Men): Bronze<br>
Swimming : Bronze<br>
Squash (Men) : 4th<br>
Lawn Tennis (Men) : 4th<br>

<img class="img-responsive pull-left" style="max-width: 48%; margin: auto; margin-top:1%;" src="{% static 'events/interiit/interiit2019_1.jpeg' %}" />
<img class="img-responsive pull-right" style="max-width: 48%; margin: auto;margin-top:1%;" src="{% static 'events/interiit/interiit2019_2.jpeg' %}" />
<img class="img-responsive pull-left" style="max-width: 48%; margin: auto;margin-top:1%;" src="{% static 'events/interiit/interiit2019_3.jpeg' %}" />
<img class="img-responsive pull-right" style="max-width: 48%; margin: auto;margin-top:1%;" src="{% static 'events/interiit/interiit2019_4.jpeg' %}" />
</p>
{% endblock body %}