{% extends 'events.html' %}
{% load static %}
{% block body %}

<h1>IIT Delhi Leagues</h1>

<p>Coming to the league system being newly introduced in the IIT Delhi system. It started with the cricket league come up and was quickly followed by the other sports following the suit like football, volleyball, Hockey, Basketball and the Squash and Tennis ladders. The idea of the league system again was to make the sport accessible to all. The aim now was that more and more people who may not even be experts in the sport now get to play at an institute level thus exposing them to the institution wide culture. </p>
<img class="img-responsive" style="max-width: 96%; margin: auto;" src="{% static 'events/league/58382916_1467770223364597_2698437165058097152_o.jpg' %}" />
<p>What happens in the league system is that a proper auctioning of players take place to keep things transparent and it also acts as a feedback mechanism for all the players leading them to give more time and energy in improving them as sportspersons. We have seen companies and people sponsor the leagues of sports as we had in the IIT Premier league this time which made the functioning of the tournament much more easier. Also, the prize money and awards act as incentive structures which are necessary for the optimum effort of the players. Media bodies like BSP etc have also been very interested in covering the leagues because of the amount of interest they have generated among the people.</p>
<img class="img-responsive pull left" style="max-width: 48%; margin: auto;" src="{% static 'events/league/57503223_1468607476614205_5485079124286373888_o.jpg' %}" />
<img class="img-responsive pull right" style="max-width: 48%; margin: auto;" src="{% static 'events/league/57564665_1469855003156119_1133899669978480640_o.jpg' %}" />
<p>The leagues have been instrumental in fostering friendship between all the sportspersons of the institute. This has made BSA become much more than all the sports it has under its ambit. Also, the league system is only furthering the cause of the BSA in terms of how now it has started to even attract the people who are fitness enthusiasts and not necessarily sportspersons. </p>

{% endblock body %}