{% extends 'base.html' %}
{% load static %}
{% block body %}
<head>
    <title> BSA Pride </title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'MainSite/pride.css' %}"  type="text/css">
	<script src="{% static "MainSite/js/jquery.tabslet.min.js" %}" type="text/javascript"></script>
</head>
<h1 style='text-align: center;'><b>Pride of BSA</b></h1>
<div class='tabs' data-toggle="tabslet" style="margin-top: 1%">
	<ul class="container list-group-horizontal">
		<li style="display: inline;"><a href="#tab-1" class="list-group-item">DILEEP PUDI</a></li>
		<li style="display: inline;"><a href="#tab-2" class="list-group-item">DHRITIRAJ DAS</a></li>
		<li style="display: inline;"><a href="#tab-3" class="list-group-item">KUMAR SAHAJ</a></li>
		<li style="display: inline;"><a href="#tab-4" class="list-group-item">AMIT KOTHARI</a></li>
	</ul>
	
	<div id='tab-1' class="container" style="text-align: center">
	<div class="pride_div" >
		<div class='name_head_div'> DILEEP PUDI</div>
		<div class='pride_image_div'><img  src = "{% static 'people/pudi.jpg' %}" class="pride_image"></div>
		<div class='pride_text_div'>    
			<h3><i>"Champions keep playing until they get it right"</i></h3>
			<p >Dileep Pudi's persona was as unassuming as his simple name. It then belies expectations when you hear the same three syllable name from anyone who's had a passing association with the BSA, IIT Delhi. It's because this one simple man has more medals and accolades to his name than the rest of the athletic contingent combined. At this point Dileep doesn't become a statistic used to lull gullible trainees into athletics; he is a living breathing story because of the passion and drive he instilled in those who knew him. People continue to know him by looking at the hardwork of the people who knew Dileep personally, and in being motivated by that and working hard, medals or no medals, each athlete becomes a better person. Such is the legacy of this one man.</p>
		</div>
		<div class='achievements_div'>
				<h2 style="text-align:center"><b>ACHIEVEMENTS</b>  </h2>
				<table style="width:100%">
					<tr>
					  <th>EVENT</th>
					  <th>POSITION</th>
					</tr>
				   <tr> <td>Delhi state meet(2017)</td> <td>100m bronze , 200m gold</td> </tr>
				   <tr> <td>Haryana state meet(2019)</td> <td>200m -4th, 400m- bronze</td> </tr>     
				   <tr> <td>51st interiit(2016)     </td> <td>100m,200m,400m ,4*400m(record + gold), 4*100m bronze</td> </tr>         
				   <tr> <td>52nd interiit(2017)     </td> <td>200m silver, 400m silver , 800m (record+gold),4*100m bronze, 4*400m bronze</td> </tr>                
				   <tr> <td>Bits pilani (2015)      </td> <td>400m-gold,200m-gold,800m-silver</td> </tr>               
				   <tr> <td>Sporttech(2016)         </td> <td>100m 4th,200m gold, 400m gold ,4*100m gold, 4*400m gold</td> </tr>               
				   <tr> <td>Spardha(2016)           </td> <td>100m silver, 200m gold, 400m gold, 4*100 bronze , 4*400m gold </td> </tr>               
				   <tr> <td>Bits pilani (2016)      </td> <td>400m gold, 800m silver , long jump gold, 4*100m gold</td> </tr>                    
				   <tr> <td>Sporttech (2017)        </td> <td>100m gold, 200m gold, 400m gold, 4*100m gold, 4*400m gold</td> </tr>               
				   <tr> <td>Roorkee(2018)           </td> <td>200m gold,400m gold,800m gold,4*100m gold,4*400m gold</td> </tr>                 
					
				  </table>
		</div>

	</div>
	</div>

	<div id='tab-2' class="container" style="text-align: center">
	<div class='pride_div'>
		<div class='name_head_div'> DHRITIRAJ DAS</div>
		<div class='pride_image_div'><img  src = "{% static 'people/dhritiraj.jpg' %}" class="pride_image"></div>
		<div class='pride_text_div'>    
			<h3><i>"Nothing is impossible. With so many people saying it couldn't be done, all it takes is imagination"</i></h2>
			<p >A guy like Dhritiraj Das comes along once every three or four years. A steely determination to win, enough discipline to stick to practicing through good sessions and bad are usually good markers. But what set apart Dhritiraj was his love for a sport in which he got medals and accolades wherever he went, whenever he went. Swimming gave to Dhritiraj The Best Outgoing Sportsperson Award, 2019, and The Best Sportsperson Award for two consecutive years, amongst a lot of other symbols of appreciation by his peers. His medals tally is a meagre testament to his practice and perseverance in a sport whose elegance hides the brutal hard work. Passing out this year, the BSA will sorely miss his vibrant energy, both in and outside the pool.</p>
		</div>
		<div class='achievements_div'>
				<h2 style="text-align:center"><b>ACHIEVEMENTS</b>  </h2>
				<table style="width:100%">
					<tr>
					  <th>EVENT</th>
					  <th>POSITION</th>
					</tr>
				   <tr> <td>29th Inter IIT Aquatics Meet, IIT Guwahati, 2013</td> <td>100m Butterfly 3rd</td> </tr>
				   <tr> <td>30th Inter IIT Aquatics Meet, IIT Bombay, 2014</td> <td>50m Freestyle 3rd, 100m Butterfly 3rd, 100m Freestyle 3rd,50m Butterfly	4th,4*100m Freestyle Relay (Men) 4th</td> </tr>     
				   <tr> <td>BOSM 2015 (Sports fest of BITS Pilani)     </td> <td>50m Butterfly 2nd, 4*50m Freestyle Relay (Men) 2nd, 100m Freestyle 3rd, 4*50m Medley Relay (Men) 3rd</td> </tr>         
				   <tr> <td>31st Inter IIT Aquatics Meet, IIT Madras, 2015      </td> <td>50m Butterfly 1st,100m Freestyle 2nd, 50m Freestyle	3rd</td> </tr>                
				   <tr> <td>32nd Inter IIT Aquatics Meet, IIT Kanpur, 2016      </td> <td>50m Butterfly 1st, 100m Freestyle 2nd, 50m Freestyle 2nd, 4*100m Freestyle Relay 3rd, 4*100m Medley Relay 3rd</td> </tr>               
				   <tr> <td>33rd Inter IIT Aquatics Meet, IIT Madras, 2017         </td> <td>50m Butterfly 1st, 50m Freestyle 1st, 100m Freestyle 1st, 4*100m Freestyle Relay 2nd </td> </tr>               
				   <tr> <td>34th Inter IIT Aquatics Meet, IIT Guwahati, 2018            </td> <td>100m Freestyle 1st, 50m Freestyle 2nd, 4*100m Freestyle Relay 2nd, 50m Butterfly 3rd </td> </tr>               
				   <tr> <td>6th Baba Gangnath Inter State Swimming Championship      </td> <td>50m Freestyle 2nd, 50m Butterfly 2nd</td> </tr>                    
				   <tr> <td>AAVHAN, 2018 (Sports fest of IIT Bombay)        </td> <td>4*50m Freestyle Relay 1st (New Meet Record), 50m Butterfly 3rd, 50m Freestyle 3rd, 100m Butterfly 4th</td> </tr>               
					
				  </table>
				  
				<div class="non-table-achievements">  
				  <h2><b>  Awards</b></h2>
				  <ul>
					<li> BEST OUTGOING SPORTSPERSON, 2019 </li>
					<li> 2 times BEST SPORTSPERSON OF THE YEAR (2015-16 & 2017-18)</li>
					<li> OUTSTANDING SPORTSMAN OF THE YEAR, 2014-15</li>
					<li> COLOURS AWARD, 2013-14</li>
					<li> SIGNIFICANT CONTRIBUTION, 2015-16</li>
					<li> CUMULATIVE CONTRIBUTION TO BSA, 2017-18</li>
				  </ul>
				 </div>
		</div>
   
	</div>
	</div>

	<div id='tab-3' class="container" style="text-align: center">
	<div class='pride_div'>
		<div class='name_head_div'>KUMAR SAHAJ</div>
		<div class='pride_image_div'><img  src = "{% static 'people/kumarsahaj.jpg' %}" class="pride_image"></div>
		<div class='pride_text_div'>    
			<p >Kumar Sahaj was a devout worshipper of one of India's two religions: Bollywood, and Cricket. And he won many medals while at it. He started out early, being the youngest person and only centurion in the KVS U-16 national cricket tournament. When in IIT, the gentleman's sport welcomed him with both arms. Hitting runs and taking wickets almost at will, Kumar Sehaj became an exceptional allrounder even by his standards, winning three consecutive Man of the Tournament awards. His game betrayed long hours of sun soaked practice, but it also gave a hint of a boy rushing out with his friends at 2 in the sweltering heat and playing till night comes and the ball invariably gets lost in some bush or the other. Now a professional cricketer playing for Bihar cricket association, Kumar Sehaj's journey is an inspiration not only for fellow cricketers, but for every sportsperson who steps on the field with a will and a dream.</p>
		</div>
		<div class='achievements_div'>
				<h2 style="text-align:center"><b>ACHIEVEMENTS</b>  </h2>
				<div class="non-table-achievements">
				<b>Even before coming to IIT, Kumar Sahaj was an incredible player.</b>
				<ul>
				<li>Youngest from the region to participate in KVS U-16 national cricket tournament-2007</li>
				<li>Youngest and ONLY to score a Century in KVS U-16 National cricket tournament  till 2008</li>
				<li>Player of the tournament KVS U-16 cricket -2008</li>
				</ul>


				<b>It was in IIT Delhi that Kumar started polishing his skills and became a force to be reckoned with in the college circuit.</b>
				<ul>
				<li> He equalled the record of fastest 50(12balls) in Sportech 2019</li>
				<li> Holds the record of hitting 7 consecutive sixes in Sportech 2019</li>
				<li> Won Man of the Tournament(MOT) three times in  INTER IIT sports meet ( 2014,16,17)</li>
				<li> Recipient of 9 MOT awards out of 14 tournaments played on behalf of IIT</li>
				<li> Holds the record for most runs scored, and most wickets taken by a single Individual in Inter IIT meets (2013-18)</li>
				<li> 1 Gold(2017) and 1 Silver(2018) in Inter IIT sports meets</li>
				<li> Captain of the Gold winning team - 2017</li>
				<li> Captain of the Silver winning team - 2018</li>

				<li>  Awarded Best Outgoing Sportsperson - 2018</li>
				<li> Awarded Best Captain by BSA - 2016</li>
				<li>  The only first year player to receive Best cricketer award - 2014</li>
				</ul>

							
				<b>Making one more step, Kumar also played in some domestic leagues.</b>
				<ul>
				<li>Selected for Delhi Premier League(DPL) - 2016</li> 
				<li>Won consecutive MOT awards in CPL (Corporate Premier League) - (2015-16)</li>
				</ul>
				
				<b>Finally, Kumar Sehaj took the big leap, and went professional.</b>
				<ul>
				<li>Played in Nagpur league (Vidharbha Cricket Association) </li>
				<li>Playing for Bihar Cricket Association (2019-present)</li>
				</ul>
				</div>
		</div>

	</div>    
	</div>

	<div id='tab-4' class="container" style="text-align: center">
	<div class='pride_div'>
		<div class='name_head_div'>AMIT KOTHARI</div>
		<div class='pride_image_div'><img  src = "{% static 'people/amitkothari.jpg' %}" class="pride_image"></div>
		<div class='pride_text_div'>    
			<p >It is people like Amit Kothari, who's dedication to their sport makes every student in IIT Delhi realise the importance of certain things in certain people's lives. It didn't matter to Amit what the time was or how many days before a quiz did we have a match. Playing badminton is one thing that comes naturally to him and he surely does justice to that by being the only undefeated player in the institute in his five years of being an inter IIT player. Amit had also been integral in making the badminton team a force to reckoned with in the sports circuit.</p>

			   <p> Amit says,     
				“I personally believe, sports is a way of life and the more you indulge in it the more you get to learn and your true character is reflected on the field”</p>
			
				<p>We thank you Amit for all the good things that you've done for the board and we tell you that your contribution to the board will always be remembered.</p>
		</div>
		<div class='achievements_div'>
				
				<h2 style="text-align:center"><b>ACHIEVEMENTS</b>  </h2>
				<div class="non-table-achievements">
				<ul>
					<li>Inter IIT 2013 :- Gold </li>
					<li>Inter IIT 2014, 2016 , 2017 :- Bronze</li>
					<li>Best incoming sportsperson (2013-2014)</li>
					<li>Best Outgoing Sportsperson (2017-2018)</li>
					<li>Best Player At Inter IIT twice (2016,2017)</li>
					<li>Sportech Gold (2014,2015,2016,2017,2018)</li>
				</ul>
				</div>
		</div>
	</div>
	</div>
</div>	

{% endblock body %}

